# Created by https://www.toptal.com/developers/gitignore/api/react,expressionengine
# Edit at https://www.toptal.com/developers/gitignore?templates=react,expressionengine

### ExpressionEngine ###
.DS_Store

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# For security do not publish the following files
system/expressionengine/config/database.php
system/expressionengine/config/config.php

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

.env

# End of https://www.toptal.com/developers/gitignore/api/react,expressionengine